<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/chats/<%= chat._id %>/update?_method=PATCH">
        <label for="massage">massage : </label>
        <input type="text" id="massage" name="massage" value="<%= chat.massage %>">
        <button>Submit</button>
    </form>
</body>
</html>